header{
	background: white;
}
body {
	background: #00BFFF;
}
p{
	background: white;
	padding: 30px;
	margin: 15px 50px;
}
h4{
	background: white;
	padding: 30px;
	margin: 15px 50px;
	
}